
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

form {
    background-color: #efefef;
    padding: 20px 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
    max-width: 400px;
    width: 100%;
}
input {
    padding: 8px;
    border-radius: 5px;
}
.btn {
    background-color: cadetblue;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(58, 133, 136);
}